html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, img, i, ol, ul, li,
footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

a,.submenu,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease-out 0s;
}

button,input{
    appearance: none;
    border: none;
    background-color: transparent;
}

header, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

body{
    font-family: "Open Sans", sans-serif;

}

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

img{
    max-width: 140px;
    object-fit: contain;
}
.container{
  @media (min-width: 1400px){
    max-width: 1200px;
  }
}
